@font-face {
  font-family: "verdana";
  src: url('fonts/verdana.ttf');
} 
@font-face {
  font-family: "verdana bold";
  src: url('fonts/verdana-bold.ttf');
}
body {
	margin: 0;
	font-family: 'verdana';
}
img{
	max-width: 100%;
}
.header__logo {
    background-color: #2257AC;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header__banner{
	background-image: url(images/header-bg.png);
    height: 270px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}
.header__banner--bottom img {
	padding: 0 28px;
	box-sizing: border-box;
}
.header__banner--top .heading {
	padding-top: 40px;
	margin-top: 0;
    width: 100%;
    text-align: center;
    font-family: verdana-bold;
    font-size: 43px;
    line-height: 46px;
    color: #ffffff;
    max-width: 500px;
    margin:auto; 
}
.header__banner--top {
	position: absolute;
	top: 0;
	width: 100%;
}
.header__banner--bottom {
	margin-top: -110px;
	position: relative;
}
.header__banner--bottom .text-wrapper{
	background: #2257AC;
	margin: -25px 50px 0;
	position: relative;
	color: #ffffff;
	text-align: center;
	padding: 22px 15px;
}
.header__banner--bottom .text-wrapper .heading{
    font-family: verdana-bold;
    font-size: 22px;
    line-height: 30px;
    margin-top: 0;
}
.header__banner--bottom .text-wrapper .description{
    font-size: 12px;
    line-height: 20px;
}
.header__banner--wrapper {
   position: relative;
}
.content {
	padding: 35px 28px;
}

.items{
	color: #040B49;
}
.items .title{
	font-size: 19px;
	line-height: 25px;
	font-family: verdana-bold;
	margin: 27px 0 21px;
}
.items .description{
	font-size: 12px;
	line-height: 18px;
	display: block;
	margin-bottom: 30px;
}
.items:last-child .description{
	margin-bottom: 0;
}
.footer .athena {
	background: linear-gradient(180deg, #0D5ACB, #2EAEEA);
	padding-left: 35px;
	display: flex;
	color: #ffffff
}
.footer {
	clear: both;
}
.footer .athena .right{
	width: 53%;
}
.footer .athena .left{
	width: 47%;
}
.footer .athena .title{
	margin: 35px 0 22px;
	font-size: 21px;
	line-height: 25px;
	font-family: verdana-bold;
}
.footer .athena .description{
	font-size: 12px;
	line-height: 18px;
}
.footer .athena .try{
	box-shadow: 2px 5px 5px #3d74e1;
	border-radius: 30px;
    background: #0D254B;
    color: #fff;
    margin-top: 22px;
    text-decoration: none;
    display: flex;
    height: 31px;
    width: 69px;
    align-items: center;
    text-transform: uppercase;
    justify-content: space-around;
    padding: 0 15px;
}
.footer__bottom{
	background-color : #0D254B;
}
.footer__bottom > div {
    padding: 28px 0;
    text-align: center;
    color: #ffffff;
    font-size: 12px;
}
.footer__bottom .social a {
    padding: 0 17px;
    color: transparent;
}
.footer__bottom .center{
	border-top: 1px solid #E1E1EF; 
	border-bottom: 1px solid #E1E1EF; 
}
.footer__bottom .copyright {
	margin-bottom: 24px;
	font-style: italic;
}
.footer__links a {
	text-decoration: none;
	color: #ffffff;
	padding: 0 8px;
]	}
.footer__bottom .last{
	padding: 28px 51px;
}
.footer__bottom .last .unsubscribe{
    color: #ffffff;
    text-decoration: none;
    border-bottom: 1px solid #2257AC;
    padding-bottom: 2px;
}
.dashes span {
    width: 27px;
    border-bottom: 3px solid #ffffff;
    display: block;
    margin-bottom: 35px;
}
.dashes {
    position: absolute;
    top: 88px;
}
.dashes.left {
	left: 0;
}
.dashes.right {
	right: 0;
}

@media screen and (min-width: 640px) {
	.header__banner--top .heading{
		font-size: 53px;
	}
	.header__banner--bottom .image {
	    text-align: center;
	}
	.header__banner--bottom img {
	    padding: 0 49px;
	    width: 100%;
	}
	.header__banner--bottom .text-wrapper {
		margin: -25px 92px 0;
	}
 	.content {
	    padding: 35px 49px;
	}
	.item {
		display: flex;
		margin-bottom: 40px;
	}
	.item:last-child {
		margin-bottom: 0;
	}
	.item img {
		max-width: calc(65% - 30px);
		margin-right: 30px;
	}
	.item .text-wrapper {
		max-width: 35%;
		display: flex;
	    flex-wrap: wrap;
	    align-items: center;
	    justify-content: center;
	    flex-direction: column;
	}
	.item:nth-child(even) img {
		margin-left: 30px;
		margin-right: 0;
		order:2;
	}
	.item:nth-child(even) .text-wrapper {
		order: 1;
	}
	.items .title {
		margin-bottom: 11px;
	}
	.footer .athena .left {
	    display: flex;
	    flex-wrap: wrap;
	    flex-direction: column;
	    position: relative;
	    justify-content: center;
	    margin-bottom: 70px;
	}

	.footer .athena .description {
	    max-width: 239px;
	}

	.footer .athena .title {
	    margin-bottom: 12px;
	}

	.footer .athena .try {
	    position: absolute;
	    bottom: 0;
	    width: 85px;
	}
	.footer__bottom .center > div {
	    width: 49%;
	    display: inline-block;
	    margin-bottom: 0;
	}
	.footer__bottom .last{
		max-width: 310px;
		margin: auto;
	}
	.header__banner {
		height: 450px;
	}
	.header__banner--bottom {
	    margin-top: -300px;
	}
	.dashes {
	    top: 70px;
	}

}